<div class="row p-2  bg-black text-white ">
    <div class="col-lg-3 col-md-2">
        <a class="navbar-brand  fs-4" routerLink="/">
            <i class="fa-solid fa-hotdog fa-shake" style="color: #FFD43B;"></i>
            <span class="text-white ms-2 fw-bolder fst-italic ">Tasty</span>
          </a>
    </div>
    <div class="col-lg-3 col-md-2">
        <p class="fs-5 fw-bolder ">About</p>
        <div>
            <p>Contact Us</p>
            <p>Stories</p>
            <p>About Us</p>
            <p>Press</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-2">
        <p class="fs-5 fw-bolder ">About</p>
        <div>
            <p>Contact Us</p>
            <p>Stories</p>
            <p>About Us</p>
            <p>Press</p>
        </div>
    </div>
    <div class="col-lg-3">
        <p class="fs-5 fw-bolder ">Subscribe to our newsletter</p>
        <p class="fs-6 ">Monthly digest of whats new and exciting from</p>
        <div class="d-flex">
            <input type="text" class="form-control me-2 " placeholder="Enter Email">
            <button class="btn btn-info ">Submit</button>
        </div>
    </div>
</div>

