<app-header (onSortKey)="onSortKey($event)" (onSearchKey)="onSearchKey($event)"></app-header>
<div style="height: auto;">
  <div class="row p-3 mt-3  ">
    <div *ngFor="let recipie of sortedDeatils.length>0?sortedDeatils:recipeDetails |search:searchKey| paginate:{itemsPerPage:8,currentPage:page};let i=index;" class="col-lg-3 col-md-6  d-flex justify-content-center align-items-center">
      <div class="card shadow-lg mb-3 " style="width: 22rem;">
        <img width="300px" height="300px" src={{recipie.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <div class="d-flex justify-content-between ">
            <h5 class="card-title fw-bolder fs-5 overflow-y-hidden ">{{recipie.name}}</h5>
            <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i>{{recipie.rating}} </p>
          </div>
          <p class="fw-bold fst-italic text-success ">{{recipie.tags}}</p>
          <a href="#" class="btn btn-primary w-100 fs-5 fw-bold ">More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3 ">
    <pagination-controls (pageChange)="page =$event"></pagination-controls>
</div>
</div>
<app-footer></app-footer>